.form{
    margin-bottom: 30px;   
}

.form_input{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.form input,select{
    width: 100%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 6px;
    padding: 4px 12px;
    font-size: 15px;
    color: rgba(8,34,78,.9);
}
.form p{
    margin-bottom: 10px;
    font-size: 12px;
    text-align: left;
    color: rgb(184, 24, 24);
}
.form select{
    background-color: transparent;
    outline: none;
    width: 100%;
}
.btn_order{
    border: 1px solid #023880;
    background-color: #023880;
    border-radius: 6px;
    padding: 8px 50px;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    
}

textarea{
    width: 100%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 6px;
    padding: 4px 12px;
    font-size: 15px;
    color: rgba(8,34,78,.9);
}

@media only screen and (max-width: 650px) {
    .form_input {
        width: 300px;
        /* display: none; */
    }
    form{
        /* display: none; */
    }
    /* .form_input input, select{
        width: 100;
    } */
}